main{
    position: relativeS;
    padding: auto;
    margin: auto;
}

header , nav{
    
    text-align: center;
    position: fixed;
    top: 0;
 background-color: #f0f0f0;
 padding: 10px;
 width: 100%;
 z-index: 11;
 position: relative;
}
article{
    position: absolute;
    width: 60% ;
    margin: 20px auto;
    background-color: #e0e0e0;
    padding: 15px;
    width: 40%;

   
}

aside{
    width: 30%;

    margin: 20px auto;
    background-color: #d0d0d0;
    padding: 15px;

    position: absolute;
    right: 0;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: hsl(0, 0%, 75%);
    padding: 10px;
    width: 100%;
}